@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.quiz-container {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  animation: fadeIn 1.5s ease-in-out;
}

.question-container {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 1s ease-in-out;
}

.progress-bar {
  height: 10px;
  background-color: #61dafb;
  transition: width 0.3s ease;
  margin-bottom: 20px;
  border-radius: 5px;
}

.options button, .input-section button {
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  transition: background-color 0.3s ease, transform 0.2s;
  width: calc(100% / 2 - 10px); /* ensures equal width for buttons */
}
.options button{
  background-color: #800080;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  transition: background-color 0.3s ease, transform 0.2s;
  width: calc(100% / 2 - 10px); /* ensures equal width for buttons */
}
.options button:hover, .input-section button:hover {
  background-color: #800080;
  transform: translateY(-2px);
}

.options button:focus, .input-section button:focus {
  outline: none;
}

.options button:active, .input-section button:active {
  transform: translateY(1px);
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-section input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.input-error {
  color: #ff3860;
  font-size: 14px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .quiz-container {
    padding: 10px;
  }

  .options button, .input-section button {
    padding: 10px 20px;
    font-size: 14px;
    width: 100%; /* ensures buttons are full width on small screens */
  }
}



 